.forecast-container
    background-color: white
    border-radius: 15px
    padding: 2rem
    margin: 1rem
    display: flex
    flex-direction: column
    gap: 1rem

.information-wrapper
    display: flex
    justify-content: space-between
    padding: 0 1rem

.information-country
    display: flex
    flex-direction: column
  

.country-name
    font-size: 2rem
    font-weight: 600
    

.country-date
    margin-top: 0.25rem
    font-size: 1.25rem
    font-weight: 400

.country-hour
    margin-top: 0.25rem
    font-size: 1.25rem
    font-weight: 400

.information-weather
    display: flex
    flex-direction: column