.accordion
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75)
    border-radius: 15px

.accordion-header
    display: flex
    justify-content: space-between
    align-items: center
    border-radius: 15px
    padding: 0.5rem 1rem

.accordion-header:hover
    background-color: lightgray

.temperature-daily
    display: flex
    align-items: center

.temperature-daily img
    width: 40px
    aspect-ratio: 1

.accordion-body
    padding: 1rem

.weather
    display: flex
    justify-content: left
    align-items: center

.weather img
    filter: drop-shadow(1px 1px 2px #222)
    width: 60px
    aspect-ratio: 1

.information
    display: flex
    flex-direction: column
    gap: 0.25rem