.App
  background: linear-gradient(90deg, #74c69d 0%, #2d6a4f 100%)
  font-family: "Montserrat", sans-serif
  display: flex
  flex-direction: column
  gap: 3rem

.header
  display: flex
  justify-content: center
  align-items: center
  background-color: #1b4332
  padding: 1rem
  height: 60px
  gap: 1rem

.metrics-select
  display: flex
  justify-content: center
  align-items: center
  column-gap: 0.5rem
  padding: 0.7rem
  font-size: 1.6rem
  cursor: pointer
  color: white
  font-weight: 600

.units-active
  background-color: #74c69d
  padding: 1rem 0.5rem
  border-top-right-radius: 5px
  border-top-left-radius: 20px
  border-bottom-right-radius: 20px
  border-bottom-left-radius: 5px
  color: white
  transition: all 0.1s ease-in-out 0.1s

.current-location
  display: flex
  justify-content: center
  align-items: center
  font-size: 2.4rem
  border-radius: 25px
  cursor: pointer
  color: #95d5b2

.info-container
  display: flex
  justify-content: center

.main-weather
  width: 100%

.footer
  background: #1b4332
  color: #fff
  font-size: 1.6rem
  display: flex
  flex-direction: column
  gap: 1rem
  justify-content: center
  align-items: center
  padding: 1rem
  margin-top: 3rem

.colored-text
  color: #95d5b2
